#content {
  display: flex;
  justify-content: space-between;
} 

#content #tablesBoard {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 35%;
  height: 100%;
  padding: 10px;

}

#content #tablesBoard input[type="checkbox"]{
  visibility: hidden;
}

#content #tablesBoard input[type="checkbox"]:checked + label {
  background-color: tomato;
}

#content #tablesBoard label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;

  cursor: pointer;

  background-color: rgb(37, 155, 37);
}


